body {
    background-color: darkslategrey;
    color: azure;
    font-size: 1.1em;
}
h1 {
    color: brown;
}
#intro {
    font-size: 1.3em;
}

ul.navmenu {
    background-color: brown;
    display: flex;
}

ul.navmenu li{
    background-color: red;
    margin: 10px;
}

#a {
    color: red;

}

img {
    margin: 4px;
}

a:visited {
            color: cyan;
         }
