body {
    background-color: darkslategrey;
    color: azure;
    font-size: 1.1em;
}
h1 {
    color: brown;
}
#intro {
    font-size: 1.3em;
}

ul.navmenu {
    background-color: brown;

}


#a {
    color: red;

}
/*
menu {
    background-color: brown;
    display: flex;
}*/
ul.menulinks {
    display: flex;
    justify-content: center;
    background-color: red;
    list-style-type: none;
    margin: 10px;
    text-decoration: none;
}

img {
    margin: 4px;
    text-align: left;
}

a {
            color: white;
         }



/*****************************/
/* Styling Header Image Menu */
/*****************************/
#header-image-menu{
    top: 10px;
    position: relative;
}
 
#header-image-menu img{
    width: 100%;
    margin: none;
    padding: none;
}
 
#image-text{
    position: absolute;
    top: 60%;
    left: 60%;
    font-family: 'Roboto';
    color: #000;
    transform: translate(-30%, -30%);
    text-align: center;
}
