body {
    background-color: darkslategrey;
    color: azure;
    font-size: 1.1em;
}
h1 {
    color: brown;
}
#intro {
    font-size: 1.3em;
}

ul.navmenu {
    background-color: brown;
    display: flex;
    justify-content: center;
}

ul.navmenu li{
    background-color: red;
    list-style-type: none;
    margin: 10px;
    text-decoration: none;
}

#a {
    color: red;

}
/*
menu {
    background-color: brown;
    display: flex;
}*/

img {
    margin: 4px;
    text-align: left;
}

a {
            color: white;
         }
